<script id="productMarkupTemplate" type="text/x-handlebars-template">
	<div class="product-container" data-campaignId={{campaignId}} data-productId={{productId}}>
		<div class="product-details">
			<img src="{{productImagePath}}" alt="{{productName}}" />
			<div class="product-details-info">
				<h3>{{quantity}} X {{productName}}</h3>
				&nbsp;-<p class="price">{{currencySymbol}} {{price}}</p>
			</div>
		</div>
	</div>
</script>