<script id="shipToChoiceContainer" type="text/x-handlebars-template">
	<div class="shipToChoiceContainer">
		<h2 class="underline">Ship to address</h2>
		<div class="rounded visualBackground">
			<div class="shipToChoiceRow">
				<input type="radio" name="billShipSame" value="true" checked="checked"></input>
				<div class="addressBlock">
					<p>{{firstName}} {{lastName}}</p>
					<p>{{address1}}</p>
					<p>{{address2}}</p>
					<p><span>{{city}}</span> <span>{{state}}</span> </p>
					<p><span>{{postalCode}} - {{country}}</span></p>
				</div>
				<div class="edit">
					<p><button id="editAddress" name="edit">edit</button></p>
				</div>
			</div>
			<div class="shipToChoiceRow narrow">
				<input type="radio" name="billShipSame" value="false"></input>
				<p class="altShipAddressLabel">Ship to alternate address</p>
			</div>
		</div>
	</div>
</script>